<header class="container">
    <div class="logo">
      <a href="/"><h1>My Blog</h1></a>
    </div>
    <div class="right-wrapper">

      <nav class="nav-menu-outer">
        <ul>
          <li><a href="#">Latest</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </nav>

      <div class="menu-wrapper">
        <div class="menu-button">
          <span class="line_one"></span>
          <span class="line_two"></span>
        </div>
      </div>
    </div>
  </header>

  