* { box-sizing: border-box }

body {
  margin: 0;
  font-family: 'Poppins';
}
body.nav-open {
   overflow: hidden;
}
a,
a:hover {
  color: #012650;
  text-decoration: none;
  transition: color 500ms ease-out;
}

ul {
  list-style-type: none;
}

svg {
  width: 100%;
  height: 100%;
}


input, textarea {
  background: none;
  outline: none;
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px 25px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  resize: vertical;
}
label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 10px 0;
}

::placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}
.form-group {
  margin-bottom: 15px;
}
.markdown {
  height: 250px;
}

::-webkit-scrollbar {
  width: 8px;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #E01F34;
}


::selection {
  background: #E01F34;
  color: #fff;
  text-shadow: none;
}
.button, button {
  background: #E01F34;
  outline: none;
  padding: 15px 45px;
  border: 0;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 10px;
  cursor: pointer;
}


/* Responsive Style */
.container {
  padding-left: 100px;
  padding-right: 100px;
}

.mt-6 {
  margin-top: 60px;
}
.mt-10 {
  margin-top: 100px;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;    
  background: rgb(255 255 255 / 25%);
  backdrop-filter: blur(20px);
  transition: background 200ms ease-out;
}
body header:not(.scrolled),
body.nav-open header {
  background: transparent;
  transition: background 200ms ease-out 300ms;
}

body header:not(.scrolled) * {
  color: #fff;
  transition: color 200ms ease-out 300ms;
}
body.nav-open header * {
  color: #fff!important;
}

body:not(.homepage) header * {
  color: #000;
  transition: color 200ms ease-out 300ms;
}

header .logo h1 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}
header nav.nav-menu-outer,
header nav.nav-menu-outer ul li,
.menu-wrapper {
  display: inline-block;
}
header nav.nav-menu-outer ul li {
  margin-right: 50px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .5px;
}

.right-wrapper,
.menu-button {
  display: flex;
  align-items: center;
}

/* Menu */
.menu-wrapper .menu-button {
  width: 20px;
  height: 10px;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
}
.menu-wrapper .menu-button .line_one,
.menu-wrapper .menu-button .line_two {
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  border-radius: 6px;
  transform-origin: 17%;
  transition: transform 500ms ease-out,
              background 200ms ease-out;
}

body.nav-open .menu-wrapper .menu-button .line_one{
  transform: rotate(40deg);
}
body.nav-open .menu-wrapper .menu-button .line_two{
  transform: rotate(-40deg);
}
header:not(.scrolled) .menu-wrapper .menu-button .line_one,
header:not(.scrolled) .menu-wrapper .menu-button .line_two {
  background: #fff;
  transition: background 200ms ease-out 300ms;
}
body.nav-open .menu-wrapper .menu-button .line_one,
body.nav-open .menu-wrapper .menu-button .line_two {
  background: #fff!important;
  transition: background 200ms ease-out 300ms;
}
body:not(.homepage) header .menu-wrapper .menu-button .line_one,
body:not(.homepage) header .menu-wrapper .menu-button .line_two {
  background: #000;
  transition: background 200ms ease-out 300ms;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #111;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  transition: transform 500ms ease-out 350ms;
}
.menu .menu-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  transform: translateY(-100%);
  opacity: 0;
  max-height: 100vh;
  transition: transform 500ms ease-out,
              opacity 1s ease-out;
}
.menu .right-item-content {
  color: #111;
}

body.nav-open .menu-content {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 350ms;
}

body.nav-open .menu {
  transform: translateY(0);
  transition-delay: 0;
}

.menu ul {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}
.menu ul li {
  margin-bottom: 30px;
}
.menu ul li a {
  color: #fff;
  font-size: 18px;
  letter-spacing: 1.5px;
  font-weight: 600;
}
.menu ul li a:hover {
  color: #A8B0B8;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px;
  margin-bottom: 50px;
}

.blog-grid .post {
  display: flex;
  align-items: center;
}
.blog-grid .post .image {
  width: 80px;
  height: 75px;
  background: #CDCDCD;
  margin-right: 25px;
  color: #CDCDCD;
}
.blog-grid .post .info .title {
  color: #A8B0B8;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.blog-grid .post .info .post-date,
.blog-grid .post .info .post-comments {
  display: inline-block;
  color: #A8B0B8;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 500;
}
.menu .site-info .social,
.menu .site-info .email {
  display: inline-block;
}

.menu .site-info .social .icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  color: #fff;
  margin-right: 20px;
}
.menu .site-info .social .icon svg {
  vertical-align: middle;
}
.menu .site-info .email {
  color: #A8B0B8;
  font-size: 14px;
  letter-spacing: 1px;
}

.menu .menu-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding-bottom: 30px;
  font-size: 14px;
  color: #878788;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Hero Post */
.hero-post {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 100vh;
  align-items: center;
  justify-content: space-evenly;
  background: #E01F34;
  color: #fff;
}
.hero-post .post-image {
  width: 450px;
  height: 500px;
  min-width: 350px;
  background: #ccc;
  color: #ccc;
}
.hero-post .post-info {
  padding-left: 40px;
}
.hero-post .post-info .post-title {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1px;
}
.hero-post .post-info .description p {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 400;
  color: #EEB4B4;
  margin-top: 12px;
}
.hero-post .post-info .post-tags {
  margin-top: 15px;
}
.hero-post .post-info .post-tags .tag {
  display: inline-block;
  padding: 6px 40px;
  background: #BE1C2D;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.hero-post .post-info .post-date {
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 20px;
}
.hero-post .post-info .post-link {
  display: block;
}
.hero-post .post-info .hero-button {
  display: inline-block;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  background: #E83F52;
  padding: 15px 45px;
  margin-top: 25px;
  color: #fff;
}

.blog {
  padding-top: 100px;
  padding-bottom: 100px;
}
.heading {
  text-align: center;
  padding-bottom: 100px;
}
.heading h2 {
  font-size: 26px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
}
.blog .blog-grid .post .image {
  width: 150px;
  height: 150px;
  min-width: 150px;
  min-height: 150px;
}
.blog .blog-grid .info .category {
  color: #E01F34;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.blog .blog-grid .info .title {
  color: #012650;
}
.blog .blog-grid .info .post-date {
  color: #A8B0B8;
  margin-top: 12px;
}

footer {
  padding: 90px 0;
  border-top: 1px solid #DDE3E2;
}
footer p {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  color: #878788;
}

@media screen and (max-width: 798px) {
  header ul {
    display: none;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .hero-post {
    flex-direction: column;
  }
  .hero-post .post-image {
    width: 100%;
    max-width: 350px;
    min-width: 300px;
    height: 350px;
  }
  .hero-post .post-info {
    padding: 40px 0;
  }
  .blog-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .blog .blog-grid .post .image {
    min-width: 100px;
    min-height: 100px;
    width: 100px;
    height: 100px;
  }
}